<%= simple_form_for @text_record, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="panel panel-default panel-body">
    <%= f.input :tag_id, :as => :hidden, :input_html => { :value => @tag_id } %>
    <%= f.input :gender, collection: TextRecordsHelper.gender_types, :default => 0, :input_html => { :class => 'form-control' } %>
    <%= f.input :image_uri, :placeholder => 'http://example.com/example.jpg', :input_html => { :class => 'form-control' } %>
    <%= f.input :link_uri, :placeholder => 'http://example.com', :input_html => { :class => 'form-control' } %>
    
    <hr class="hr-normal">
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn btn-primary' %>
      <% unless @tag_id.nil? %>
          <%= link_to t('helpers.links.cancel', :default => t('helpers.links.cancel')),
                      tag_path(@tag_id), :class => 'btn btn-default' %>
      <% end %>
    </div>
  </div>
<% end %>
