<%- model_class = Place -%>

<%= render partial: 'layouts/navbar', :locals => { :title => model_class.model_name.human(:count => 1).titleize, :icon => 'fa fa-map-marker', :levelOne => model_class.model_name.human(:count => 1).titleize, :levelTwo => nil, :levelThree => nil } %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="title">
      <i class="fa fa-pencil"></i>
      <%=t 'place_details' %>
    </div>
  </div>
  <div class="panel-body">
    <% unless @place.name.nil? %>
        <div class="panel panel-default panel-body">
          <h4 class="title text-primary"><%= @place.name %></h4>
          <small><%= model_class.human_attribute_name(:name) %></small>
        </div>
    <% end %>

    <% unless @place.description.nil? or @place.description.empty? %>
        <div class="panel panel-default panel-body">
          <h5 class="title text-primary"><%= @place.description %></h5>
          <small><%= model_class.human_attribute_name(:description) %></small>
        </div>
    <% end %>
    
    <% unless @place.latitude.nil? or @place.longitude.nil? %>
    <div class="panel panel-default panel-body">
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
      <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    
      <style>
        #map {
          margin-top: 20px;
          height: 300px;
        }
      </style>
    
      <div id="map"></div>
    
      <script type="text/javascript">
      var map = L.map('map').setView([<%= @place.latitude %>, <%= @place.longitude %>], 17);

      // add an OpenStreetMap tile layer
      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      L.marker([<%= @place.latitude %>, <%= @place.longitude %>]).addTo(map);
      </script>
      
    </div>
    <% end %>

  </div>
</div>

<%= render partial: 'tags_tableview', :locals => { :tags => @tags } %>

<div class="form-actions">
  <%= link_to t('helpers.links.back', :default => t('helpers.links.back')),
              places_path, :class => 'btn btn-default' %>
  <%= link_to t('helpers.links.edit', :default => t('helpers.links.edit')),
              edit_place_path(@place), :class => 'btn btn-default' %>
  <%= link_to t('helpers.links.destroy', :default => t('helpers.links.destroy')),
              place_path(@place),
              :method => 'delete',
              :data => { :confirm => t('helpers.links.confirm', :default => t('helpers.links.confirm', :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
